body
{
    margin:0 auto;
    width:100%;
    color:#212529;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
}

/* GENERAL */
p { 
    font-size:1rem;
}

.img-hero p {
    color:#fff;
    display:inline-block;
}

.sw-logo {
    display:inline-block;
    width:2.5rem;
    height:auto;
    margin:1rem
}

/* NAV */
nav {
    background-color: #212529;
    padding:.8rem 0 0rem;
}

nav .box {
    display:inline-block;
    margin:0 auto;
}

nav .box .line {    
    display:block;
    background-color: red;
    height:1px;
    transition: width 0.2s;
    width:0;
}

nav .box:hover .line {
    width:100%;
}

nav .box .nav-link {
    color:#ffffff;
    padding:0 !important;
    opacity:.6;
    transition: opacity 1s;
    font-size:.8rem;
}

nav .box .nav-link:hover {
    opacity:1;
}





/* HERO */
.img-hero {
    background-color: #212529;
    padding:6px 40px 0;
}

.form-background {
    background-color: #555;
}

/* INNER SHELL */
.box-holder {
    margin:0 auto;
    background-color: #212529;
}

/* CAROUSEL */
.carousel {
    max-width:1280px;
}

.carousel-caption {
    bottom:-4rem;
}

/* CARDS */
.card {
    color:#555;
    width:320px;
    margin:0 auto;
    border:0;
}

.box-circle {
    width:300px;
    margin:0 auto;
    background-color: #fff;
    padding:38px;
    position: relative;
}

.card-img-top {
    position: relative;
    z-index: 1;
}

.circle-anm {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 0;
    margin:auto;
    width:240px;
}

.circle-l {
    animation-name: circle-anm-l;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circle-r {
    animation-name: circle-anm-r;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes circle-anm-l {
    0%   {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
  }

@keyframes circle-anm-r {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

.form_box {
    display:none;
}

/* FOOTER */
footer {
    margin:20px auto 0;
    padding:10px;
    width:100%;
}

.txt-footer {
    color:#fff;
    font-size:10px;
}

.footer-icon {
    margin:0 10px;
    width:20px;
    height:20px;
    opacity:.5;
    transition: opacity .5s;
}

.footer-icon:hover {
    opacity:1;
}