body
{
    margin:0 auto;
    width:100%;
    color:#212529;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
}

/* GENERAL */
p { 
    font-size:1rem;
}

.img-hero p {
    color:#fff;
    display:inline-block;
}

.sw_logo {
    display:inline-block;
    width:300px;
    height:auto;
    margin:0;
}

.cover_box {
    height:24rem;
    position:relative;
    background-image: url("/assets/images/cover_tree.jpg");
    background-position: center;
}

.sw_box {
    position: absolute;
    top: 65%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.sw_box h5 {
    color:#fff;
}

/* NAV */
nav {
    background-color: #fff;
    padding:.8rem 0;
}

nav .box {
    display:inline-block;
    margin:0 auto;
}

nav .box .line {    
    display:block;
    background-color: red;
    height:1px;
    transition: width 0.2s;
    width:0;
}

nav .box:hover .line {
    width:100%;
}

nav .box .nav-link {
    color:#212529;
    padding:0 !important;
    opacity:.6;
    transition: opacity 1s;
    font-size:.8rem;
}

nav .box .nav-link:hover {
    opacity:1;
}





/* HERO */
.img-hero {
    background-color: #212529;
    padding:0;
}

.form-background {
    background-color: #555;
}

.box_work {
    background-color:#ccc;
    /* height:40rem; */
    padding:0;
    margin:0;
}


.work {
    margin:1rem auto;
}

.work h6 {
    padding-top: 0.8rem;
}

/* INNER SHELL */
.box-holder {
    margin:0 auto;
    background-color: #212529;
    display:none;
}

/* CAROUSEL */
.carousel {
    max-width:1280px;
}

.carousel-caption {
    bottom:-4rem;
}

/* CARDS */

.box-cards {
    background: rgb(69,147,184);
    background: linear-gradient(0deg, rgba(69,147,184,1) 0%, rgba(181,180,189,1) 21%, rgba(0,212,255,1) 100%);
}

.card {
    color:#000;
    width:80%;
    height:25rem;
    margin:0.5rem auto;
    border:0;
    background-color: transparent;;
}

.box-circle {
    width:300px;
    margin:0 auto;
    padding:38px;
    position: relative;
}

.card-img-top {
    position: relative;
    z-index: 1;
}

.circle-anm {
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index: 0;
    margin:auto;
    width:240px;
}

.circle-l {
    animation-name: circle-anm-l;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circle-r {
    animation-name: circle-anm-r;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes circle-anm-l {
    0%   {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
  }

@keyframes circle-anm-r {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }

.form_box {
    display:none;
}

/* FOOTER */
footer {
    margin:20px auto 0;
    padding:10px;
    width:100%;
}

.txt-footer {
    color:#fff;
    font-size:10px;
}

.footer-icon {
    margin:0 10px;
    width:20px;
    height:20px;
    opacity:.5;
    transition: opacity .5s;
}

.footer-icon:hover {
    opacity:1;
}